svg(xmlns="http://www.w3.org/2000/svg", height="#{height}", width="#{width}")
    rect(height="#{background.height}", width="#{background.width}", style="#{background.style}")
    text(x="#{title.x}", y="#{title.y}", style="#{title.style}") #{title.text}
    line(x1="#{line.x1}", y1="#{line.y1}", x2="#{line.x2}", y2="#{line.y2}", style="#{line.style}")